body {
  background-color: #000;
  color: white; /* Green text, adjust as needed */
  font-family: "Lucida Console", "Consolas", monospace;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari -- Hide the vertical scrollbar */
}

pre {
  flex: 1;
  margin: 0;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden; /* Hide the horizontal scrollbar */
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  scrollbar-width: none; /* Firefox -- Hide the vertical scrollbar */
  -ms-overflow-style: none; /* Edge/IE -- Hide the vertical scrollbar */
}

.pre {
  margin: 0;
  padding: 10px;
  font-size: small;
}

/* p {
  margin: 0;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  scrollbar-width: none;
  -ms-overflow-style: none;
} */

.console {
  background-color: #000;
  border: 5px solid white; /* Green border, adjust as needed */
  border-radius: 10px;
  width: 90%;
  max-width: 800px;
  height: 80%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden; /* Hide the horizontal scrollbar */
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  scrollbar-width: none; /* Firefox -- Hide the vertical scrollbar */
  -ms-overflow-style: none; /* Edge/IE -- Hide the vertical scrollbar */
}

/* .userInput {
  display: flex;
  flex-direction: row;
  background-color: #000;
  color: white;
  border: 2px solid white;
  outline: none;
  padding: 5px;
} */

#inputContainer {
  display: flex;
  flex-direction: row;
  background-color: #000;
  color: white;
  border: 2px solid white;
  outline: none;
  padding: 5px;
}

#mobileInputContainer {
  display: flex;
  flex-direction: row;
  background-color: #000;
  color: white;
  border: 2px solid white;
  outline: none;
  padding: 5px;
}

input {
  background-color: #000;
  color: white;
  border: none; /* Add a green border around the input */
  outline: none;
  padding: 5px;
}

#output {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

/* Mobile View */
.mobile {
  background-color: #000;
  border: 5px solid white; /* Green border, adjust as needed */
  border-radius: 10px;
  width: 90%;
  max-width: 800px;
  height: 80%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden; /* Hide the horizontal scrollbar */
  word-wrap: break-word;
  scrollbar-width: none; /* Firefox -- Hide the vertical scrollbar */
  -ms-overflow-style: none; /* Edge/IE -- Hide the vertical scrollbar */
}

#mobileOutput {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

/* MEDIA QUERIES */
@media screen and (max-width: 834px) {
  body {
    background-color: lightcoral;
  }
  .console {
    display: none;
  }
}

/* Hide Mobile View */
@media screen and (min-width: 835px) {
  .mobile {
    display: none;
  }
}

span {
  flex: -1;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 3.5s steps(40, end),
    /* blink-caret .75s step-end infinite; */
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}