body {
    background-color: #000;
    color: white; /* Green text, adjust as needed */
    font-family: 'Lucida Console', 'Consolas', monospace;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.console {
    background-color: #000;
    border: 5px solid white; /* Green border, adjust as needed */
    border-radius: 10px;
    width: 90%;
    max-width: 800px;
    height: 80%;
    display: flex;
    flex-direction: column;
}

pre {
    flex: 1;
    margin: 0;
    padding: 10px;
    overflow-y: hidden; /* Hide the vertical scrollbar */
}

.prompt {
    background-color: #000;
    color: white;
    padding: 5px;
}

input {
    background-color: #000;
    color: white;
    border: 2px solid white; /* Add a green border around the input */
    outline: none;
    padding: 5px;
}
